*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
.container{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    

}
.container img{
  width: 100vw;
  height: 100vh;

}
.nav-bar{
    position: fixed;
    top: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 10;
    width:  97%;
    background-color:#1A2456 ;
  
}
.navigate{
    display: flex;
    justify-content: end; 
    align-items: center;
    gap: 10px;
    margin: 20px;
    padding:  0px 10px;

}
.navigate i{
    color:#E28F74 ;
    font-size: 20px;
    
}
.navigate h1{
    color:#E28F74 ;
    font-size: 15px;
    line-height: 10px;
}
.usd ul {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    padding: 0 10px;
    
}
.usd ul {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    padding: 0 10px;
    
}

.usd ul li{
    list-style: none;
    color:#E28F74 ;
    
}
ul i{
    font-size: 20px;
     color:#E28F74 ;
}
ul li i{
   font-size: 10px; 
}
.banner {
    position: relative;
}
.text{
    position: absolute;

    color:#fff ;
    font-weight:500; 
}
.text h1{
 font-size: 2.8em;
 text-transform: uppercase;
 font-weight: 100;
}
.text p{
  font-size: 4em;
  font-weight: bolder;
 text-transform: uppercase;
}