*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
.container{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    

}
.container img{
  width: 100vw;
  height: 100vh;

}
.nav-bar{
    position: fixed;
    top: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 10;
    width:  97%;
    background-color:#1A2456 ;
  
}
.navigate{
    display: flex;
    justify-content: end; 
    align-items: center;
    gap: 10px;
    margin: 20px;
    padding:  0px 10px;

}
.navigate i{
    color:#E28F74 ;
    font-size: 20px;
    
}
.navigate h1{
    color:#E28F74 ;
    font-size: 15px;
    line-height: 10px;
}
.usd ul {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    padding: 0 10px;
    
}
.usd ul {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    padding: 0 10px;
    
}

.usd ul li{
    list-style: none;
    color:#E28F74 ;
    
}
ul i{
    font-size: 20px;
     color:#E28F74 ;
}
ul li i{
   font-size: 10px; 
}
.banner {
    position: relative;
}
.text{
    position: absolute;

    color:#fff ;
    font-weight:500; 
}
.text h1{
 font-size: 2.8em;
 text-transform: uppercase;
 font-weight: 100;
}
.text p{
  font-size: 4em;
  font-weight: bolder;
 text-transform: uppercase;
}
.workflow{
    position: relative;
}

.tab-container{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f0efed;
    height: 200px;
   

}
.tab-container button{
    /* margin-top: 10px; */
    background: none;
    border: none;
    padding:14px ;
    font-size: 1em;
    color: #454044;
    margin-bottom: 80px;
    margin-top: 1opx;
    border-top: 2px solid #454044 ;
    border-bottom: 2px solid #454044  ;
    /* border-left: 2px solid #454044; */
}
.tab-content{
    background-color: #FF8D6B;
    display: flex;
    /* justify-content: center; */
    align-items: center;
    color: #1A2456;
    height: 300px;
}
.tab-content p{
    max-width: 600px;
    line-height: 1.5;
    margin: 50px;
    font-size: 1.07em;
    font-weight: lighter;
}
.tab-content h2{
    font-size: 28px ;
    margin-bottom: 15px;
    font-weight: bold;
    margin: 50px;
    text-transform: uppercase;
}
.image{
    position: absolute;
    left: 700px;
}
img{
    width: 500px;
    height: auto;
    
    
}
.tab-logo{
    background-color:#f0efed;
     display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f0efed;
    height: 200px;
   
}
.tab-logo img{
    width: 100px;
    padding: 10px;
    margin-top: 10px;
    /* height: 100%; */
}
